*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

body{
    background-color: #1A120B;

}

.container{
    max-width: 1400px;
    padding: 0 4%;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

nav .logo{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}

nav ul{
    align-items: center;
    list-style: none;
}

a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .img{
    width: 50%;
    padding: 40px;
}

main .img img{
    width: 100%;
}

main .content{
    color: white;
    width: 50%;
}

main .content h1{
    text-transform: uppercase;
    font-size: 3rem;
}

main .content p{
    margin-top: 30px;
}